<div class="page-header">
	<h1>Login</h1>
	<div class="alert alert-info">
		<button {{action 'authenticateWithFacebook'}} class="btn btn-facebook"><i class="fa fa-facebook"></i> | Login with Facebook</button>
	</div>
</div>
